<hr>
<center><h1>About myself..</h1></center>

  <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="http://uwaterloo.ca" class="portfolio-box">
                        <img_tag "waterloo.jpg" class="img-responsive" alt=""/>
                        
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Education
                                </div>
                                <div class="project-name">
                                    University of Waterloo
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="https://en.wikipedia.org/wiki/Toronto" class="portfolio-box">
                        <%= image_tag "toronto.jpg" %>
                        <div class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    City
                                </div>
                                <div class="project-name">
                                    Toronto
                                </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="http://www.vaniercollege.qc.ca" class="portfolio-box">
                        <%= image_tag "vanier.jpg" %>
                        <div class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Education
                                </div>
                                <div class="project-name">
                                    Cégep Vanier
                                </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="https://en.wikipedia.org/wiki/Montreal" class="portfolio-box">
                        <%= image_tag "montreal.jpg" %>
                        <div class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    City
                                </div>
                                <div class="project-name">
                                    Montreal
                                </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="http://waterloohybrid.com" class="portfolio-box">
                        <image_tag "hybrid.jpg" class="img-responsive" alt="" />
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Activity
                                </div>
                                <div class="project-name">
                                    Waterloo Hybrid
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="https://en.wikipedia.org/wiki/Korea" class="portfolio-box">
                        <img_tag "korea.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Nation
                                </div>
                                <div class="project-name">
                                    Korea
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="https://en.wikipedia.org/wiki/Canada" class="portfolio-box">
                        <img_tag "canada.png" class="img-responsive" alt="" />
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Nation
                                </div>
                                <div class="project-name">
                                    Canada
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

