<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>JunGwon Kim</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/clean-blog.min.css" rel="stylesheet">

</head>

<body>

 <header class="intro-header" style="background-image: url(assets/2.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>JunGwon Kim</h1>
                        <hr class="small">
                        <span class="subheading">Welcome to Jun's Blog</span>
                        
    <P> </P>
    <% if user_signed_in? %>
       <!-- do something -->
     <% else %>
        <p> 
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-default btn-lg" %> 
    <%= link_to "Log in", new_user_session_path, class: "btn btn-primary btn-lg" %>
        </p>
                      <% end %>
                    </div>
                </div>
            </div>
        </div>
  
 </header>

</body>

</html>
