<h1> Welcome to Jun's Page !</h1>
<p> Sign up at <a href="http://naver.com">Naver</a> </p>
<p> Sign up at <%= link_to "Google", "http://google.com" %> </p>
<%= link_to "about", about_path %>
<%= link_to "sample", sample_path %>