<br><br>
<div id="banner">
  <div class="banner_content">
    <h1>Welcome!<br>This is Jun-Gwon Kim's Blog</h1>
    <p>Sign up to share your thoughts about this blog!</p>
    <g_button>
      <%= link_to "Sign up", new_user_registration_path %>
    </g_button>
  </div>
</div>

<div id="testimonial">
  <div class="wrapper">
    <p class="quote">"An Inspiring App.."</p>
    <p class="name">- Simon Hwang</p>
  </div>
</div>

<div id="callouts">
  <div class="callout_inner">
    <div class="wrapper">
      <div class="callout">
        <h2>Diary</h2>
        <p>I have a lot to talk about things that happen in life. It will be written either in Korean or English, or even in both. Isn't it cool ?</p>
      </div>
      <div class="callout">
        <h2>Posts</h2>
        <p>Posts usually come with photos that might attract your eyes and great contents to read.<br>Have fun !</p>
      </div>
      <div class="callout">
        <h2>Projects</h2>
        <p>I spend most of my spare time working on projects that seem cool! Why don't you take a look at them ?</p>
      </div>
    </div>
  </div>
</div>

<div id="bottom_cta">
  <div class="wrapper">
    <h2>For Realz!</h2>
    <p>I want you to sign up... If you don’t. I will find you !</p>
    <g_button>
      <%= link_to "Click Meee!!!", about_path %>
    </g_button>
  </div>
</div>

<footer>
</footer>
