// Place all the styles related to the timeline controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('//fonts.googleapis.com/css?family=Indie+Flower');
@import url('//fonts.googleapis.com/earlyaccess/hanna.css'); // Korean letter fonts

textarea{
  &[name=post_title] {
    font-family: 'Indie Flower', 'Hanna', sans-serif;
    border-color: red;
    background-color: white;
    width: 70%;
    height: 40px;
    margin: 5px auto;
    padding: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  &[name=post_content] {
    font-family: 'Indie Flower', 'Hanna', sans-serif;
    border-color: blue;
    border-width: 2px;
    background-color: white;
    width: 90%;
    height: 170px;
    padding: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  &[name=comment_content] {
    font-family: 'Indie Flower', 'Hanna', sans-serif;
    border-color: red;
    background-color: white;
    width: 90%;
    height: 40px;
    margin: 5px auto;
    padding: 15px;
  }
}

input {
  &[type=submit] {
    padding: 5px;
    margin: 10px;
    font-size: 0.7em;
    transition: color 1s;
  }
  &[name=submit_post]:hover {
    background-color: rgba(0, 0, 255, 255);
    color: white;
  }
  &[name=submit_comment]:hover {
    background-color: rgba(255, 0, 0, 255);
    color: white;
  }
  &[name=post_title] {
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

pre {
  &[name=post_title] {
    font-family: 'Indie Flower', 'Hanna', sans-serif;
    border-width: 2px;
    background-color: white;
    width: 90%;
    height: 45px;
    margin: 10px;
    padding: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  &[name=post_content] {
    font-family: 'Indie Flower', 'Hanna', sans-serif;
    border-width: 2px;
    background-color: white;
    width: 90%;
    height: 200px;
    margin: 10px;
    padding: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

h1[name=header] {
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px;
}

left_col {
  line-height: 80%;
  height: 100%;
  width: 40%;
  float: left;
  padding: 5px;
  padding: 10px;
}

right_col {
  background-color: white;
  width: 60%;
  float: right;
  padding: 5px;
}

li[name=post_block] {
  background-color: #f6f6f6;
  padding: 10px;
  font-size: 0.5em;
}
