   <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <ul class="list-inline text-center">
              <li>
                <a href="http://www.facebook.com/JunKim0922" target= "_blank"><img src= "https://www.seeklogo.net/wp-content/uploads/2011/06/facebook-icon-logo-vector.png" width= "40" height= "40">

                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>

                </a>
            </li>
            <li>
                <a href="https://github.com/j464kim" target= "_blank"><img src= "https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" width= "40" height= "40">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>
            <li><a href= "https://www.linkedin.com/in/kwnsrnjs12" target= "_blank"><img src= "https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/768px-LinkedIn_logo_initials.png" width= "40" height= "40" alt= "LinkedIn" title= "LinkedIn" /></a></li>
            
            <hr>
        </ul>
       <center> <p class="copyright text-muted">Copyright &copy; JunGwon_Kim 2016</p></center>
      </div>
    </div>
  </div>
    </footer>