

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                 <%= link_to "PERSONAL BLOG", root_path, class: "navbar-brand" %>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><%= link_to "Home", root_path %></li>
                  <li><%= link_to "About", about_path %></li> 
                  <li><%= link_to "Portfolio", portfolio_path %></li>
                  <!-- <li><%= link_to "Sample", sample_path %></li> -->
                    <!-- # log in & log out Setting -->
      <% if user_signed_in? %>
        <li><%= link_to "Account Setting", edit_user_registration_path %><li>
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>

      <% else %>
        <li><%= link_to "Sign in", new_user_session_path %></li>

        <% end %>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background age for this header on the line below. -->
   
    <!-- Main Content -->
<hr>

    </header>
