<!DOCTYPE html>
<html large="en">
<head>

	<title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
<%= stylesheet_link_tag    'application', media: 'all',
  'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>


  <title>Personal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
</head>
<body>

	<%= render 'layouts/header' %>

	<p></p>
<p></p>
<p></p>
	<!-- <div clsas= "main-page-content <%= controller.controller_name %>">

	</div>  -->
		<%= yield %>

<%= render 'layouts/footer' %>
	</body>
	
	</html>
